section.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    section.right{
        padding: 1rem;    
        flex: 1 1 350px;

        h5{
            font-size: 1.1em;
            margin-bottom: 10px;
            text-align: center;
        }

        iframe{
            border: 1px solid red;
            border-radius: 50px;
            margin-top: 10px;
        }
    }

    section.left{
        padding: 1rem;
        flex-grow: 4;
        flex-shrink: 1;
        flex-basis: 350px;

        #curve_chart{
            width: 70vw;
            height: 50vh;
        }
    }
}